.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #272727;
  width: 94px;
  height: 91vh;
  border: solid black 1px;
  margin-right: 2px;
  flex: 1;
  transition:
    background-color 0.6s,
    color 0.6s;
}

.darkTheme {
  background-color: #272727;
  color: #c8a9a9ff;
}

.lightTheme {
  background-color: #f6ecec;
  color: #c8a9a9ff;
}

.icon.tune,
.icon.crop,
.icon.rotate,
.icon.settings,
.icon.photoFilter,
.icon.texture,
.icon.wallpaper,
.icon.title {
  font-size: 70px;
  transition:
    transform 0.3s,
    color 0.3s;
}

.icon.tune {
  color: var(--icon-color);
}

.icon.crop {
  color: var(--icon-color);
}

.icon.rotate {
  color: var(--icon-color);
}

.icon.settings {
  color: var(--icon-color);
}

.icon.photoFilter {
  color: var(--icon-color);
}

.icon.texture {
  color: var(--icon-color);
}

.icon.wallpaper {
  color: var(--icon-color);
}

.icon.title {
  color: var(--icon-color);
}

.clicked {
  color: #884f9f;
}

.notClicked {
  color: var(--icon-color);
}

.icon:hover {
  color: rgba(197, 124, 228, 0.75);
  transform: scale(0.9);
}

/* Color Themes */
.darkTheme .icon {
  --icon-color: #c8a9a9;
}

.lightTheme .icon {
  --icon-color: #272727;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .mainContainer {
    width: 94px;
    height: 90vh;
  }

  .icon.tune {
    font-size: 45px;
  }

  .icon.crop {
    font-size: 45px;
  }

  .icon.rotate {
    font-size: 45px;
  }

  .icon.settings {
    font-size: 45px;
  }

  .icon.photoFilter {
    font-size: 45px;
  }

  .icon.texture {
    font-size: 45px;
  }

  .icon.wallpaper {
    font-size: 45px;
  }

  .icon.title {
    font-size: 45px;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .mainContainer {
    width: 94px;
    height: 89vh;
  }

  .icon.tune {
    font-size: 50px;
  }

  .icon.crop {
    font-size: 50px;
  }

  .icon.rotate {
    font-size: 50px;
  }

  .icon.settings {
    font-size: 50px;
  }

  .icon.photoFilter {
    font-size: 50px;
  }

  .icon.texture {
    font-size: 50px;
  }

  .icon.wallpaper {
    font-size: 50px;
  }

  .icon.title {
    font-size: 50px;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .mainContainer {
    width: 94px;
    height: 90vh;
  }

  .icon.tune {
    font-size: 55px;
  }

  .icon.crop {
    font-size: 55px;
  }

  .icon.rotate {
    font-size: 55px;
  }

  .icon.settings {
    font-size: 55px;
  }

  .icon.photoFilter {
    font-size: 55px;
  }

  .icon.texture {
    font-size: 55px;
  }

  .icon.wallpaper {
    font-size: 55px;
  }

  .icon.title {
    font-size: 55px;
  }
}

@media (min-width: 1921px) {
  .mainContainer {
    width: 94px;
    height: 92vh;
    margin-right: 2px;
  }
}
