.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px dashed #c8a9a9ff;
  border-radius: 30px;
  width: 700px;
  height: 500px;
  transition: background-color 0.6s;
}

.mainContainer.lightTheme {
  background-color: #eaeaea;
  border: 5px dashed #191919;
}

.uploadText.lightText {
  color: #191919;
}

.uploadArea:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dragOver {
  background-color: rgba(255, 255, 255, 0.2);
}

.uploadLabel {
  display: block;
  cursor: pointer;
}

.uploadIcon {
  font-size: 70px !important;
  color: #884f9f;
}

.uploadText {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  font-size: 36px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .mainContainer {
    width: 500px;
    height: 300px;
  }

  .uploadIcon {
    font-size: 50px !important;
    color: #884f9f;
  }

  .uploadText {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    font-size: 20px;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .mainContainer {
    width: 600px;
    height: 400px;
  }
}

@media (min-width: 1441px) and (max-width: 1920px) {
  .mainContainer {
    width: 700px;
    height: 500px;
  }
}

@media (min-width: 1921px) {
  .mainContainer {
    width: 900px;
    height: 600px;
  }
}
