.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: #191919;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  transition: background-color 0.6s;
}

.toolContainer {
  display: flex;
  height: auto;
  flex-direction: row;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  background-color: #191919;
  transition: background-color 0.6s;
}

.imageContainer.lightTheme {
  background-color: #f6ecec;
}

canvas {
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 95%;
  max-height: 95%;
}

.uploadedImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.canvas {
  border: 1px solid black;
  cursor: crosshair;
}
