.label {
  margin-top: 5px;
  color: white;
  font-size: 25px;
  text-align: center;
}

.sharedContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  align-items: center;
  height: 1200px;
  overflow-y: scroll;
}
.sharedContainer::-webkit-scrollbar {
  width: 10px;
}

.sharedContainer::-webkit-scrollbar-track {
  background: #2c2c2c;
  border-radius: 5px;
}

.sharedContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #884f9f, #d1c0e8);
  border-radius: 5px;
  border: 2px solid #2c2c2c;
}

.sharedContainer::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #aa6fbc, #884f9f);
  box-shadow: 0 0 5px rgba(185, 0, 255, 0.6);
}
.filterItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterBlock {
  width: 250px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: 2px solid transparent;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease,
    opacity 0.3s ease;
}

.filterBlock:hover {
  border-color: #aa6fbc;
  opacity: 0.85;
}

.filterBlock:focus {
  border-color: #aa6fbc;
  box-shadow: 0 0 5px #aa6fbc;
}

.activeFilter .filterBlock {
  border-color: #884f9f;
  box-shadow: 0 0 10px rgba(185, 0, 255, 0.8);
}

.filterItem:hover {
  opacity: 0.9;
}
@media (min-width: 1025px) and (max-width: 1280px) {
}
@media (min-width: 1281px) and (max-width: 1440px) {
}
@media (min-width: 1441px) and (max-width: 1920px) {
}
@media (min-width: 1921px) {
}
